@page "/sign-in"
@using Microsoft.AspNetCore.Components
@using Domain.DTOs
@using Application
@inject IIdentityRepository IdentityRepository
@inject NavigationManager NavigationManager

<h3>Sign-In</h3>

<EditForm Model="@User" OnValidSubmit="LoginUser">
    <div class="col-12 row">
        <input class="form-control col-12" @bind="User.Username" placeholder="Username..." />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password" class="form-control col-12" @bind="User.Password" placeholder="Password..." />
    </div>
    <br />
    <div class="col-12 row">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-primary" value="Sign In" />
    </div>
    <br />
    <div class="col-12 row" style="text-align:left; font-weight:bold">
        <span class="col-12">@LoginMessage</span>
    </div>
</EditForm>
@code {

    private SignInRequestDto User { get; set; } = null!;
    private string LoginMessage { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        User = new SignInRequestDto();
        return base.OnInitializedAsync();
    }
    
    private async Task<bool> LoginUser()
    {
        var success = IdentityRepository.LoginUser(User);

        await success;
        
        if (!success.Result.Item1)
        {
            LoginMessage = success.Result.Item2.ToString();
            return false;
        }
        
        NavigationManager.NavigateTo("/");
        return await Task.FromResult(true);
    }
}